@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Caveat:wght@700&family=Inconsolata:wght@900&family=Lato:wght@300;400;700;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Poppins:wght@400;700;900&family=Roboto:wght@400;900&family=Tilt+Prism&display=swap");

.expand-up {
  animation: expand-up 1s ease-in-out both;
  animation-delay: 1.3s;
}
.bottom-up {
  animation: bottom-up 1s ease-in-out both;
  animation-delay: 3.8s;
}

.right-in {
  animation: right-in 1s ease-in-out both;
  animation-delay: 2s;
}

.left-in {
  animation: left-in 1s ease-in-out both;
  animation-delay: 3s;
}

.span-2 {
  position: absolute;
  left: 0;
  top: 0;
  color: #de3163;
  clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%);
  animation: enter 1s linear forwards;
  animation-delay: 300ms;
  /* animation-timing-function: cubic-bezier(0, 1.02, 1, 0.05); */
  animation-timing-function: cubic-bezier(0, 1.02, 1, 0.05);
}

@keyframes enter {
  0% {
    clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%);
    transform: translateY(0);
  }
  80% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translateY(0);
  }

  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translateY(-2%);
  }
}

@keyframes expand-up {
  0% {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes right-in {
  0% {
    left: 60%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}

@keyframes left-in {
  0% {
    left: 40%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}

@keyframes bottom-up {
  0% {
    top: 70%;
    opacity: 0;
  }
  100% {
    top: 60%;
    opacity: 1;
  }
}
